*, *::after, *::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  --primary-black: #000;
  --primary-white: #fff;
  --primary-grey: rgb(146, 146, 146);
  --primary-blue: #2980b9;
}

body {
  font-family: sans-serif;
}
